* {
	margin: 0;
	padding: 0;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

#container {
	text-align: center;
}

header {
	padding-top: 1em;
	margin-bottom: 2em;
}

#increase-temperature button{
	padding: 0;
	border: none;
	background: none;
	height: 5em;
	width: 6em;
}

#increase-temperature img {
	height: 4em;
	width: 5em;
}

#temperature {
	font-size: 3em;
}

#temperature h1 {
	text-align: center;
}

.low-usage {
	color: green;
}

.medium-usage {
	color: orange;
}

.high-usage {
	color: red;
}

#decrease-temperature {
}

#decrease-temperature button {
	padding: 0;
	border: none;
	background: none;
	height: 5em;
	width: 6em;
}

#decrease-temperature img {
	height: 4em;
	width: 5em;
}

.big-buttons {
	margin-top: 1em;
	margin-bottom: 1em;
}

.big-buttons button{
	padding: 0;
	border: none;
	background: none;
	margin: 2em 1em 2em 1em;
}

.big-buttons img{
	height: 4em;
	width: 4em;
	border-radius: 50%;
}

.power-saving {
	border-radius: 50%;
}

.reset {
	border-radius: 50%;
}

.holiday {
	border-radius: 50%;
}

.timer {

}

#time {
	
}

